<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
      <h1>Benvenuti!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis sapien in iaculis congue.</p>
      <a href="/echo"><input type="button" value="Ho un codice aziendale" class="accept-btn"></a>
      <input type="button" value="Voglio un questionario" class="decline-btn">
      <div class="accordion">
        <h2>FAQ</h2>
        <div>
          <h3>Domanda 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <h3>Domanda 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <h3>Domanda 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <h3>Domanda 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div>
          <h3>Domanda 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </body>
    </html>
